.container {
  text-align: center;
  padding: 20px;
}

.earth {
  width: 200px;
  margin-bottom: 20px;
}

.texto {
  background: #eef5e7;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

button {
  padding: 12px;
  width: 100%;
  background: #72c474;
  border: none;
  color: white;
  border-radius: 10px;
}
