.container {
  padding: 20px;
}

.texto {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.btn-back {
  width: 100%;
  padding: 12px;
  background: #72c474;
  border: none;
  border-radius: 12px;
  color: white;
}
